# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gitignore

# other
eclipse
run
mods
classes/
config/
crash-reports/
logs/
options.txt
resourcepacks/
saves/
screenshots/
usercache.json
usernamecache.json
